*pptx

DASHBOARD-FLAVOUR-1_INSTALL_LIST

*csh
INPUT/*
OUTPUT/*

SPEECH2TEXT_DIVIDIDE-CONQURE_DASHBOARD-main/*mp4

.env

src/SpeechText/__pycache__/*
src/SpeechText/pipeline/__pycache__/*

model2_env/
